# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Log files
src/cowsaid-log*
src/log.txt

# Misc
.vscode
*~
*.swp

# Go
go.mod
go.sum
